extends layout


block content

	script role = 'presenter'

	audio(id='audio_bg', loop='true', preload='auto' autoplay='true')
		source(src='/audio/M-Cubed_GAME-Far-From-OVER2-160.mp3', type='audio/mp3')
		source(src='/audio/M-Cubed_GAME-Far-From-OVER2-160.ogg', type='audio/ogg')

	#waiting.section
		h1 snake
		p 
			| Grab your smartphone and visit 
			br
			a.controllerUrl

		ul.credits
			li
				| font 
				a(href='https://www.google.com/fonts/specimen/Monofett') Monofett
				|  by 
				a(href='https://plus.google.com/107807505287232434305/about') Vernon Adams
				|  
				a(href='http://scripts.sil.org/OFL') (SIL Open Font License, 1.1)
			li
				| music 
				a(href='http://sampleswap.org/viewtopic.php?t=6094') GAME Far From OVER
				|  by 
				a(href='http://sampleswap.org/profile.php?mode=viewprofile&u=165129') mistermikeymonster
				|  
				a(href='https://creativecommons.org/licenses/by-nc-sa/3.0/') (CC BY-NC-SA 3.0)

	#game.section
		canvas

	#finished.section
		h1 Game Over