extends layout

block content

	link(rel='stylesheet', href='/css/index.css')

	h1 Welcome to multi
	h2 A framework for webbased multiscreen games
	p 
		| Congrats, your server seems to be up and running. 
		| Now check out some of the example games:

	ul.gamelist
		li
			img(src='img/gameThumbs/symbols.svg')
			h3 Symbols
			a(href='/symbols') /symbols 
			p 
				| Create new sessions and connect other devices to them.
				| No need to type session IDs on your phone - just select
				| some symbols.

		li
			img(src='img/gameThumbs/sound.svg')
			h3 Sound
			a(href='/sound') /sound 
			p 
				| Create new sessions and connect other devices to them via 
				| sound. Simply record some peep sounds and see the devices 
				| become connected.

		li
			img(src='img/gameThumbs/avatar.svg')
			h3 Avatar
			a(href='/avatar') /avatar 
			p 
				| Take a picture of yourself and sync it as avatar to all
				| other players.

		li
			img(src='img/gameThumbs/image.svg')
			h3 Image
			a(href='/image') /image 
			p 
				| Drag an image across several devices.

		li
			img(src='img/gameThumbs/tron.svg')
			h3 Like-a-tron
			a(href='/tron') /tron
			p 
				| Connect many devices to build one big screen. On this screen
				| you can play a tron-like racing game.

		li
			img(src='img/gameThumbs/snake.svg')
			h3 One player snake
			a(href='/snake/presenter') /snake/presenter
			br
			a(href='/snake') /snake
			p 
				| Use your smartphone to control a simple snake game. The 
				| presenter application can be started only once - use a 
				| bigger screen like your desktop computer.

		li
			img(src='img/gameThumbs/snakemp.svg')
			h3 Multi player snake
			a(href='/snakemp/presenter') /snakemp/presenter
			br
			a(href='/snakemp') /snakemp
			p 
				| Use up to four smartphones to control a multi player snake game. 
				| The presenter application can be started only once - use a 
				| bigger screen like your desktop computer.

	h3 IP
	| All examples will try to connect to a multi server instance on localhost. 
	| If you want try the examples on any other machine, you can change the server 
	| by modifying the SERVER module under 
	a(href='js/SERVER.js') /public/js/SERVER.js

	h3 Documentation
	p The documentation can be found under 
		a(href='/documentation/index.html') public/documentation/index.html