html {
  overflow: hidden;
}
.section {
  display: none;
}
.players {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
}
.players .player {
  height: 50px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
#image {
  position: absolute;
  top: 0;
  left: 0;
}
#image * {
  pointer-events: none;
}
