html {
	background-color: #160F0F;
	background-image: linear-gradient(rgba(255,255,255,.1) 2px, transparent 2px),
		linear-gradient(90deg, rgba(255,255,255,.1) 2px, transparent 2px),
		linear-gradient(rgba(255,255,255,.1) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255,255,255,.1) 1px, transparent 1px);
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position: center; 

	font-family: monospace;
	color: white;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

a {
	color: white;
	&:hover {
		color: grey;
	}
}

button {
	border: 2px solid #FFF;
	background-color: #000;
	color: #FFF;
	padding: 0.5em 2em;
	&:hover {
		border-color: grey;
		color: grey;
	}
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

#status {
	position: absolute;
	bottom: 20px;
	left: 0px;
	width: 100%;
	text-align: center;
}

#danger-zone {
	display: none;
}

#error {
	padding: 20px;
	text-align: center;
	color: red;
	font-size: 1.7em;
}

#game {
	height: 100%;
}

.section {
	display: none;
}

#joined {
	text-align: center;
	padding: 20px;

	.join-url {
		font-size: 1.7em;
	}

	.players {
		width: 100%;
		display: -webkit-box;
		display: -moz-box;
		display: box;
		-webkit-justify-content: center;
		-webkit-align-items: center;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		margin: 15px 0;
		counter-reset: playerNr;

		.player {
			align-self: auto;
			margin: 4px;
			height: 50px;
			-webkit-box-flex: 1;
			-moz-box-flex: 1;
			box-flex: 1;
			&::before {
				text-shadow:1px 2px 1px #000000;
				counter-increment: playerNr;
				content: counter(playerNr);
			}
		}
	}
}

.joystick {
	& > div {
		position: absolute;
		left: 0;
		width: 0;
		display: none;
	}
	.down {
		width: 20px;
		height: 20px;
		margin: -10px 0 0 -10px;
		background-color: rgba(255,255,255,0.5);
	}
	.move {
		width: 10px;
		height: 10px;
		margin: -5px 0 0 -5px;
		background-color: rgba(255,255,255,0.3);
	}
}