html {
  background-color: #160F0F;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1) 2px, transparent 2px), linear-gradient(90deg, rgba(255, 255, 255, 0.1) 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#danger-zone {
  display: none;
}
.section {
  display: none;
}
.players {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
}
.players .player {
  height: 50px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.joystick > div {
  position: absolute;
  left: 0;
  width: 0;
  display: none;
}
.joystick .down {
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.joystick .move {
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
  background-color: rgba(255, 255, 255, 0.3);
}
