html {
  background-color: #160F0F;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1) 2px, transparent 2px), linear-gradient(90deg, rgba(255, 255, 255, 0.1) 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: center;
  font-family: monospace;
  font-size: 1.2em;
  color: white;
  text-align: center;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
a {
  color: white;
  letter-spacing: -0.1em;
}
a:hover {
  color: grey;
}
p {
  margin: 0 10px 10px 10px;
}
button {
  border: 2px solid #FFF;
  background: #000;
  color: #FFF;
  padding: 0.5em 2em;
  text-transform: uppercase;
}
button:hover {
  border-color: grey;
  color: grey;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#status {
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 100%;
}
#joining input {
  font-size: 200%;
  width: 3em;
  border: none;
  text-align: center;
  margin-bottom: 0.5em;
}
#joining input::-webkit-outer-spin-button,
#joining input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#joining > div {
  padding: 1em 0;
}
#danger-zone {
  display: none;
}
#error {
  padding: 20px;
  color: red;
  font-size: 1.7em;
}
#game {
  height: 100%;
}
.section {
  display: none;
}
#joined .join-url {
  font-size: 1.2em;
}
#joined .code {
  font-size: 4em;
  color: #fff;
}
#joined .players {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
#joined .players .player {
  align-self: auto;
  margin: 4px;
  height: 50px;
  flex: 1;
}
.joystick > div {
  position: absolute;
  left: 0;
  width: 0;
  display: none;
}
.joystick .down {
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  opacity: 0.5;
}
.joystick .move {
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
  opacity: 0.3;
}
