html {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	max-width: 400px;
	margin: auto;
	padding: 10px;
	text-align: center;
	position: relative;
	height: 100%;
	width: 100%;
}

h1 {
	text-align: center;
}

a {
	color: rgb(0, 169, 235);
	text-decoration: none;
}
a:hover {
	color: rgb(15, 114, 153);
	text-decoration: underline;
}

button {
	display: inline-block;
	width: 100%;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 130%;
	padding: 3% 0;
	background-color: rgb(0, 169, 235);
	color: white;
	border: none;
	border: 1px solid rgba(0,0,0,0);
}

button:after {
	content: "\25B6";
	float: right;
	width: 1em;
	text-align: center;
	margin: 0 0.5em 0 -1em;
	padding: 0 .2em;
}

button:hover {
	background-color: rgb(15, 114, 153);
}

button:focus {
	outline: none;
	border-color: rgb(15, 114, 153);
}

#new, #join, #created, #controls, #field, #new .symbols {
	display: none;
}

#loading {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
#loading .inner {
	padding-top: 40%;
}

.preloader {
	width: 50px;
	margin: auto;
	-webkit-animation: rotate 1.5s infinite linear;
	-moz-animation: rotate 1.5s infinite linear;
	animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
	0% 		{ transform: rotate(0deg) }
	100% 	{ transform: rotate(360deg) }
}
@-moz-keyframes rotate {
	0% 		{ -moz-transform: rotate(0deg) }
	100% 	{ -moz-transform: rotate(360deg) }
}
@-webkit-keyframes rotate {
	0% 		{ -webkit-transform: rotate(0deg) }
	100% 	{ -webkit-transform: rotate(360deg) }
}

.icon {
	width: 29%;
	height: 29%;
	padding: 2%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.icon.inactive > *,
.icon.inactive g > * {
	fill: #ddd;
}

.icon:hover.inactive > *,
.icon:hover.inactive g > * {
	fill: #bbb;
}

#new .manual {
	display: inline-block; 
	vertical-align: middle;
	text-align: left;
}

#new .manual p {
	padding: 1em 2em;
}

#new .manual a {
	font-size: 100%;
}

#new .manual .phone {
	width: 30%;
	float: left;
}

#new .players {
	width: 100%;
	height: 25px;
	display: -webkit-box;
	display: -moz-box;
	display: box;
}

#new .players .player {
	height: 100%;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

.head {
	width: 1em;
	height: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
}