html {
  background-color: #160F0F;
  font-family: monospace;
  font-size: 1.2em;
  color: white;
  text-align: center;
}
#bg {
  content: "";
  background-image: linear-gradient(rgba(255, 255, 255, 0.5) 2px, transparent 2px), linear-gradient(90deg, rgba(255, 255, 255, 0.5) 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, 0.5) 2px, transparent 2px), linear-gradient(90deg, rgba(255, 255, 255, 0.5) 2px, transparent 2px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: center;
  opacity: 0.15;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a {
  color: white;
  letter-spacing: -0.1em;
}
a:hover {
  color: grey;
}
p {
  margin: 0 10px 10px 10px;
}
button {
  border: 2px solid #FFF;
  background: #000;
  color: #FFF;
  padding: 0.5em 2em;
  text-transform: uppercase;
}
button:hover {
  border-color: grey;
  color: grey;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#status {
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 100%;
}
#joining input {
  font-size: 200%;
  width: 3em;
  border: none;
  text-align: center;
  margin-bottom: 0.5em;
}
#joining input::-webkit-outer-spin-button,
#joining input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#joining > div {
  padding: 1em 0;
}
#danger-zone {
  display: none;
}
#error {
  padding: 20px;
  color: red;
  font-size: 1.7em;
}
#game {
  height: 100%;
}
.section {
  display: none;
}
#joined .join-url {
  font-size: 1.2em;
}
#joined .code {
  font-size: 4em;
  color: #fff;
}
#joined .players {
  width: 100%;
  margin: 15px 0;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  /* old webkit */
  display: -moz-box;
  /* old firefox */
  display: -ms-flexbox;
  /* IE 10 */
  display: -webkit-flex;
  /* new webkit */
  display: flex;
  /* spec */
}
#joined .players .player {
  align-self: auto;
  margin: 4px;
  width: 50px;
  height: 50px;
  -webkit-box-flex: 1;
  /* old webkit */
  -moz-box-flex: 1;
  /* old firefox */
  -ms-flex: 1;
  /* IE 10 */
  -webkit-flex: 1;
  /* new webkit */
  box-flex: 1;
  /* spec */
}
.direction {
  display: none;
  position: absolute;
  top: 50%;
  font-size: 90px;
  margin-top: -45px;
  padding: 0;
  opacity: 0.5;
}
.direction.left {
  left: -10px;
}
.direction.right {
  right: -10px;
}
.joystick > div {
  position: absolute;
  left: 0;
  width: 0;
  display: none;
}
.joystick .down {
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  opacity: 0.5;
}
.joystick .move {
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
  opacity: 0.3;
}
