extends ../layout

block content
	h1 Example1

	h2.status

	div.session
		button.new NEW SESSION

		br
		input.token
		button.join JOIN SESSION

	script(data-main='/js/example1/example1.js', src='/js/lib/require.js')