doctype 5
html
	head
		title Like-A-Tron
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='mobile-web-app-capable', content='yes')

		link(rel='stylesheet', href='/css/serverOnescreenSnake.css')
		script(data-main='/js/serverOnescreenSnake/index.js', src='/js/lib/require.js')



	body

		#status loading
		#error.section
		#joined.section
			a.join-url
			.players
			button.start Start!
		#game.section
			h1 Game running
			canvas#canvas
			.joystick
				.down
				.move