extends terminalControllerSnakeLayout


block content

	script role = 'presenter'

	#waiting.section
		h1 snake
		p 
			| Grab your smartphone and visit 
			br
			a.controllerUrl

	#game.section
		canvas

	#finished.section
		h1 Game Over