extends terminalControllerSnakeLayout


block content

	script role = 'presenter'
	
	audio(id='audio_bg', loop='true', preload='auto' autoplay='true')
		source(src='/audio/M-Cubed_GAME-Far-From-OVER2-160.mp3', type='audio/mp3')
		source(src='/audio/M-Cubed_GAME-Far-From-OVER2-160.ogg', type='audio/ogg')

	#waiting.section
		h1 snake
		p 
			| Grab your smartphone and visit 
			br
			a.controllerUrl

	#game.section
		canvas

	#finished.section
		h1 Game Over