doctype 5
html
	head
		title Like-A-Tron
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='mobile-web-app-capable', content='yes')

		link(rel='stylesheet', href='/css/tron.css')
		script(data-main='/js/tron/index.js', src='/js/lib/require.js')



	body
		h1.title Like-A-Tron
		#status loading
		#error.section
		#joining.section
			.join
				p 
					| Want to join a running game?
					br
					| Enter the game code here:
				input.code(type='number', placeholder='code', min=0, max=999, autofocus='autofocus')
				br
				button.join join game
			.new
				p 
					| Want to start a new game?
					br
					| Click here to get your game code:
				button.start new game
		#joined.section
			p
				| Want more players?
				br
				| Visit 
				a.join-url 
				|  and enter the game code:
			p.code
			.players
			button.start Start
		#game.section
			.joystick
				.down
				.move
		canvas#canvas
		img(src='/img/danger_zone.png')#danger-zone