extends layout


block content

	script(data-main='/js/terminalControllerSnake/mp/controller.js', src='/js/lib/require.js')

	#controller.section
		h1 Touch to move!
		span.points 0
		#marker
			.down.marker
			.move.marker

	#waiting.section
		h1 Connected!
		p Waiting for other players to join.
		button.start Start!
		button.exit Exit!

	#finished.section
		h1 Game Over
		p You just died. Wait for the game to finish to play another round.
		ol.scoreboard
		button.exit Exit!